<nav class="navContainer">
    <ul class="navBar">
        <a href="/"><li class="navLink">Home</li></a>
    </ul>
    <h1>recombobulate.me</h1>
    
    <% if (!accessToken) { %> 
        <ul class="authBar">
            <a href="/auth/login"><li class="authLink">Log In</li></a>
            <a href="/auth/register"><li class="authLink">Register</li></a>
        </ul>
    <% } else { %>
        <div class="authBar"><p>Welcome back,</p></div>
    <% } %> 
</nav>