<nav class="navContainer">
    <ul class="navBar">
        <a href="/"><li class="navLink">Home</li></a>
    </ul>
    <h1>recombobulate.me</h1>
    <ul class="authBar">
        <a href="/login"><li class="authLink">Log In</li></a>
        <a href="/register"><li class="authLink">Register</li></a>
    </ul>
</nav>